.text {
  position: fixed;
  box-sizing: border-box;
  margin: 16px;
  border-bottom: 1px dotted black;
}
.tooltip {
  display: flex;
  background-color: grey;
  color: white;
  padding: 8px;
  border-radius: 4px;
  display: none;
}
.text:hover .tooltip {
  cursor: pointer;
  display: block;
}
