.text {
  position: relative;
  margin: 16px;
  border-bottom: 1px dotted black;
  width: fit-content;
}
.tooltip {
  display: flex;
  background-color: grey;
  color: white;
  padding: 8px;
  border-radius: 4px;
  display: none;
}
.text:hover .tooltip {
  cursor: pointer;
  position: absolute;
  display: inline;
  bottom: -40px;
  left: 0;
}
